body{
  margin: 0;
  width: 100%;
  background-color: #f2efe2;

}

#root {
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}