.contenedorPrincipalCrear{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

.contenedorFormularioCrea{
    text-align: center;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 350px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #F2BE10;

}

.grupoFormulario{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;

}

.grupoFormulario label{
    display: block;
    margin-bottom: 5px;
}

.grupoFormulario input{
    width: 80%;
    border-radius: 5px;
    height: 20px;
}

#email
#password {
    width: 90%;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
}

.botonCrearCuenta{
    margin-top: 20px;
    width: 63%;
    background-color: #f2e3b3;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.35s ease;
}

.botonCrearCuenta:hover{
    transform: scale(1.1);
    transition: 0.35s;
}