.menu {
    color: black;
    background-color: #ffffff;
    position: absolute;
    top: 70px;
    right: 1%;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.opciones a{
    color: black;
    text-decoration: none;
}

.opcion {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
    padding-right: 5px;
    padding-right: 5px;
    cursor: pointer;
    transition: 0.35s;
}

.opcion:hover {
    background-color: #F2BE10;
    transition: 0.35s;
}