.contenedorInicio{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    height: 100%;
}

.bloqueInfoInicio {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloqueInfoInicio section {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
}

.HeroInicio{
    margin-top: 10px;
    width: 95%;
    height: 830px;
}

.imagenHeroInicio{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.InicioCrearSesion{
    height: 230px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InicioCrearSesion h2{
    color: rgb(112, 112, 112);
    font-size: 25px;
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botonCrearUserInicio{
    text-align: center;
    margin-bottom: 20px;
    width: 100px;
    text-decoration: none;
    padding: 1rem;
    background-color: #F24B77;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.botonCrearUserInicio:hover{
    background-color: #fa5581;

}