#Nav {
    display: flex;
    flex-direction: column;
    background-color: #c4c4c4;
    color: #6a7187;
    min-width: 200px;
    position: fixed;
    height: 100vh;
    width: 213px;
    box-shadow: 5px 0 5px -3px rgba(0,0,0,0.5);
}

#logo img{
    width: 90%;
    padding: 5px;
}

#logo {
    text-align: center;
    align-content: center;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 0;
    margin-left: -15px;
    padding-bottom: 10px;
}

li {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-top: 7px;
}

.menu-title {
    cursor: default;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #6a7187;
}

.menu-title:hover {
    cursor: default;
    color: #6a7187;
}

.texto {
    margin-left: 10px;
    transition: 0.35s;
}

.texto:hover {
    margin-left: 10px;
    transition: 0.35s;
}

.link {
    margin-left: 5px;
}

.link a {
    text-decoration: none;
    color: #6a7187;
    display: flex;
    align-items: center;
}

.link:hover a:hover{
    cursor: pointer;
    color: #ffffff;
}

.link a:visited {
    color: #6a7187;
}

.icono {
    transition: 0.35s;
}

.icono:hover {
    transition: 0.35s;
}

#MenuMovil {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #c4c4c4;
    color: #6a7187;
    /*
    ESQUEMA DE COLOR OSCURO
    background-color: #495057;
    color: #c4c4c4;
    */
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    transition: 0.35s;
}

#MenuMovil svg{
    font-size: 40px;
    transition: 0.35s;
    color: #6a7187;
}

#MenuMovil svg:hover{
    cursor: pointer;
    color: white;
}

#MenuHamburguesa {
    position: fixed;
    top: -100%;
}

@media screen and (max-width: 676px){
    #Nav {
        display: none;
    }

    #MenuMovil {
        display: flex;
        justify-content: space-evenly;
    }

    #MenuHamburguesa {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        width: 100vw;
        height: calc(100vh - 70px);
        background-color: #c4c4c4;
        color: #343a40;
        z-index: 1000;
        transition: top 0.35s ease;
        }
        
        /* Estilo para mostrar el menú */
        #MenuHamburguesa.mostrar {
            top: 0;
        }
          
        /* Estilo para ocultar el menú */
        #MenuHamburguesa.oculto {
            top: -100vh;
        }

        #HeaderMenuHamburguesa {
            display: flex;
            flex-direction: row;
            width: 90%;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

        #cerrarMenuHamburguesa svg:hover {
            cursor: pointer;
            transition: 0.35s;
            transform: scale(1.2);
        }

        #cerrarMenuHamburguesa svg {
            font-size: 35px;
            transition: 0.35s;
        }

        #logoMenuHamburguesa img {
            width: 50%;
        }

        #accionesMenuHamburguesa {
            display: flex;
            width: 95%;
            justify-content: space-between;
            justify-self: end;
            margin-top: auto;
        }

        #accionesMenuHamburguesa img{
            margin-left: 20px;
        }
}