.carousel {
    position: relative;
    width: 450px;
    margin: auto;
    overflow: hidden;
    border-radius: 8px;
  }

  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }
  
  .carousel-item {
    min-width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F2BE10;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    color: black;
    transition: 0.35s;
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }
  
  .carousel-button:hover {
    background-color: #f2e3b3;
    transition: 0.35s;
    scale: 0.9;
  }
  